

*.pyc
*.idea
.vscode
*.avi
*.mp4

local

# in INPUT only the forces for the 2 generic cases should be kept
input/force

!input/force/

input/force/*
!input/force/generic_building
!input/force/generic_pylon

input/parameters/caarc/

# in OUTPUT only the results for the 2 generic cases should be kept
output/

# !output/

# output/*
# !output/GenericBuilding
# !output/GenericPylon

run_caarc_parametric_spatial.py
run_caarc_parametric_modal.py
evaluate_caarc_parametric_spatial.py
evaluate_caarc_parametric_modal.py

# simplified one element
run_caarc_parametric_sone.py
shape_function_interpolation_comparison.py
# simplified two element
run_caarc_parametric_stwo.py
