

*.pyc
*.idea
.vscode
*.avi
*.mp4

local

input/force

!input/force/

input/force/*
!input/force/generic_building
!input/force/generic_pylon

output/

!output/

output/*
!output/GenericBuilding
!output/GenericPylon

